* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    padding: 20px 30px;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    /* background: #EEAECA;
    background: linear-gradient(rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
    position: relative;
    height: 80%;
    width: 100%;
    gap: 10px;
    /* background-color: rgba(0, 0, 0, 0.178); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    overflow: hidden;
    overflow-y: auto;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    height: 65%;
    width: 100%;
    padding: 15px 35px;
    border-radius: 30px;
    background: linear-gradient(rgba(234, 137, 224, 0.401), rgb(207, 194, 231));
    /* filter: drop-shadow(14px 14px 10px rgba(0, 0, 0, 0.7)); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.3s;
    overflow: hidden;
}

/* .card .part1 {
    height: 80%;
    width: 100%;
}  */

.card .part2 h3 {
    margin-top: 20px;
    padding: 9vh 4vw;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.44) 0%, rgba(9, 9, 121, 0.505) 35%, rgba(0, 213, 255, 0.242) 100%);
    width: 100%;
    border-radius: 30px;
}
.card .part2 h3 p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.card .part2,
.part1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 12px;
    gap: 20px;
}

.contract {
    transition: 0.3s;
}

.expand {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    color: white;
    /* background: #1c0024;
    background: linear-gradient(90deg, rgba(28, 0, 36, 1) 0%, rgba(110, 9, 121, 0.76) 35%, rgba(0, 151, 181, 0.69) 100%); */
    filter: none;
    background-image: linear-gradient(to top, #30d0d0d5 0%, #330867a5 100%);
    backdrop-filter: blur(10px);
    z-index: 10;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 30px;
}

.card:hover {
    transform: scale(0.95);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}

.card img {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 12px;
    margin-bottom: 10px;
}

.card button {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

.card button:hover {
    transform: scale(1.1);
}